fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
email-validator
httpx
# Shared package (if applicable)
# -e git+https://github.com/d3vd4th/proccura.git@17d6392e254d891365bc2a9ffa1645b6d6aa5b61#egg=proccura_shared&subdirectory=backend/shared
